@import "common.css";
body {
  min-height: 300px;
  width: 15rem;
  margin: 0 auto;
  line-height: 1.5;
  font-family: Arial,Helvetica;
  background-color: #F2F2F2;
}
.search-con {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFC001;
  width: 15rem;
  height: 1.76rem;
}
.search-con .bt1 {
  margin: 0.22rem 0.5rem 0.14rem 0.48rem;
  height: 1.4rem;
  width: 0.88rem;
  background: url("../images/classify.png") no-repeat;
  background-size: 100%;
}
.search-con .search {
  flex: 1;
}
.search-con .search input {
  outline: none;
  height: 1.32rem;
  border-radius: 0.66rem;
  border: 0;
  width: 100%;
  background-color: #FFF2cc;
  margin: 0.2rem -0.01rem;
  font-size: 0.5rem;
  padding-left: 1.1rem;
  color: #757575;
}
.search-con .bt2 {
  margin: 0.16rem 0.2rem;
  height: 1.5rem;
  width: 1.4rem;
  text-align: center;
  line-height: 1.5rem;
  font-size: 0.5rem;
  color: #f2f2f2;
}
.banner {
  width: 15rem;
  height: 7.36rem;
}
.banner img {
  width: 100%;
  height: 100%;
}
.ad {
  display: flex;
}
.ad a {
  flex: 1;
}
.ad a img {
  width: 100%;
  height: 100%;
}
.nav {
  width: 15rem;
}
.nav a {
  float: left;
  margin-top: 0.2rem;
  width: 3rem;
  height: 2.8rem;
  text-align: center;
}
.nav a img {
  display: block;
  width: 1.64rem;
  height: 1.64rem;
  margin: 0.2rem auto 0;
}
.nav a span {
  display: block;
  font-size: 0.5rem;
  color: #333333;
  margin-top: 0rem;
}
